<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-current.dtd">
<suite name="VirtusaTesting Suite" verbose="2" parallel="false">
    <test name="Google Tests" preserve-order="true">
        <classes>
            <class name="VirtusaTesting.VirtusaTesting_artifact.GoogleTest">
                <methods>
                    <include name="testOpenGoogle"/>
                    <include name="testGooglePageLoads"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Registration Tests" preserve-order="true">
        <classes>
            <class name="VirtusaTesting.VirtusaTesting_artifact.Registration_tutorialninja">
                <methods>
                    <include name="testSignUp"/>
                    <include name="testSignUpWithNewsletterSubscription"/>
                    <include name="testSignUpValidation"/>
                    <include name="testDirectRegistrationPageAccess"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
